body {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(207, 201, 201);
  padding: 5px;
  transition: all 0.5s 0.2s ease;
}
header:hover {
  padding-bottom: 30px;
}
header ul {
  position: absolute;
  left: 72%;
  top: 4%;
}
header ul a {
  text-decoration: none;
  color: white;
  background-color: rgb(31, 129, 138);
  margin-top: 0px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
.content h2 {
  margin: 20px 0 0 10px;
}
.content h3 {
  margin: 10px 0 0 15px;
}
.content .web {
  margin-top: 10px;
  margin-left: 25px;
  width: 60%;
  font-size: larger;
  word-spacing: 2px;
  line-height: 25px;
}
.content .one {
  width: 270px;
  position: absolute;
  top: 25%;
  right: 5%;
}
.content .def p{
  margin-top: 10px;
  margin-left: 25px;
  width: 60%;
  font-size: larger;
  word-spacing: 2px;
  line-height: 25px;
} 
.content .fields p{
  margin-top: 10px;
  margin-left: 25px;
  width: 60%;
  font-size: larger;
  word-spacing: 2px;
  line-height: 25px;
}
.content .learn {
  line-height: 25px;
}
.content .games{
  margin-top: 10px;
  margin-left: 25px;
  width: 50%;
  font-size: 25px;
  font-weight: 500;
  word-spacing: 2px;
  line-height: 25px;
}
.content .learning .links a{
  text-decoration: none;
  background-color: pink;
  padding: 10px;
  border-radius: 15px;
  width: 50px;;
  color: black;
  margin-left: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: space-evenly;
  margin-bottom: 15px; 
  transition: all 1s 0.3s;
}
.content .learning .links a:hover{
  background-color: rgb(252, 152, 170);
  width: 75px;
  height: 20px;
}
.content .three{
  width: 250px;
  position: absolute;
  top: 145%;
  right: 10%;
}
.content .two {
  width: 200px;
  position: absolute;
  top: 90%;
  right: 10%;
}
hr {
  background-color: rgb(31, 129, 138);
  height: 2px;
  border: none;
}
.content .about {
  margin: 30px 0 0 20px;
}
.content .me {
  margin-left: 25px;
  width: 60%;
  font-size: larger;
}
.content .skills {
  line-height: 25px;
}
footer .text-area {
  width: 400px;
  height: 400px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  margin-left: 55%;
  margin-top: 20px;
  border: 1px black solid;
  transition: all 1s 0.2s ease;
}
footer .text-area:hover {
  border-color: brown;
  background-color: aliceblue;
}
footer h2 {
  padding: 10px 20px 0px 20px;
}
footer input {
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-top: 25%;
}
footer .name {
  position: relative;
  left: 20px;
  position: absolute;
  top: 227%;
  left: 56%;
  padding-left: 5px;
}
footer .email {
  position: relative;
  left: 35px;
  position: absolute;
  top: 227%;
  left: 73%;
  padding-left: 5px;
}
footer .text {
  width: 350px;
  padding-left: auto;
  padding-right: auto;
  height: 150px;
  position: absolute;
  top: 290%;
  left: 57%;
  border: none;
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
}
footer button {
  position: absolute;
  top: 322%;
  left: 67%;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}
.contact .contact-2 {
  position: absolute;
  top: 268%;
  font-size: larger;
  margin-left: 20px;
}
