body {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(207, 201, 201);
  padding: 5px;
  transition: all 0.5s 0.2s ease;
}
header:hover {
  padding-bottom: 30px;
}
header ul {
  position: absolute;
  left: 72%;
  top: 4%;
}
header ul a {
  text-decoration: none;
  color: white;
  background-color: rgb(31, 129, 138);
  margin-top: 0px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
.content h2 {
  margin: 20px 0 0 10px;
}
.content h3 {
  margin: 10px 0 0 15px;
}
.content .web {
  margin-top: 10px;
  margin-left: 25px;
  width: 60%;
  font-size: larger;
  word-spacing: 2px;
  line-height: 25px;
}
.content .one {
  width: 270px;
  position: absolute;
  top: 25%;
  right: 5%;
}
.content .learn {
  line-height: 25px;
}
.content .two {
  width: 100px;
  position: absolute;
  top: 82%;
  right: 60%;
}
hr {
  background-color: rgb(31, 129, 138);
  height: 2px;
  border: none;
}
.content .about {
  margin: 30px 0 0 20px;
}
.content .me {
  margin-left: 25px;
  width: 60%;
  font-size: larger;
}
.content .skills {
  line-height: 25px;
}
footer .text-area {
  width: 400px;
  height: 400px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  margin-left: 65%;
  border: 1px black solid;
  transition: all 1s 0.2s ease;
}
footer .text-area:hover {
  border-color: brown;
  background-color: aliceblue;
}
footer h2 {
  padding: 20px 20px 0px 20px;
}
footer input {
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-top: 25%;
}
footer .name {
  position: relative;
  left: 20px;
  position: absolute;
  top: 125%;
  left: 66%;
  padding-left: 5px;
}
footer .email {
  position: relative;
  left: 35px;
  position: absolute;
  top: 125%;
  left: 83%;
  padding-left: 5px;
}
footer .text {
  width: 350px;
  padding-left: auto;
  padding-right: auto;
  height: 150px;
  position: absolute;
  top: 190%;
  right: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
}
footer button {
  position: absolute;
  top: 222%;
  left: 77%;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}
